* {
  box-sizing: border-box;
}

.header {
  padding: 30px;
  background-color: black;
  color: white;
  text-align: center;
}

.menu {
  width: 30%;
  background-color: blue;
  height: 300px;
  float: left;
  padding: 10px;
}

.content {
  width: 70%;
  background-color: red;
  height: 300px;
  float: left;
}

.footer {
  clear: both;
  background-color: black;
  height: 100px;
}
