* {
  color: brown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3 {
  color: red;

  font-family: "Times New Roman", Times, serif;
}

/*.header {
    color: blue;
}
*/

.box1 {
  color: green;
}

.box2 {
  color: red;
}

#box3 {
  color: purple;
}

p.box4 {
  color: pink;
}
.order {
  color: aquamarine;
}
